@inherits LayoutComponentBase
<div class="sidebar shadow-sm" style="min-width:300px">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-0" style="overflow: hidden;">
        @Body
    </div>
</div>
