@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>.Net Core 3.0 RC 1</span>
        <a href="https://github.com/BlazorComponents/CompileBlazorInBlazor" target="_blank" class="ml-md-4">GIT</a>
        <a href="https://samprof.com" target="_blank" class="ml-md-4">Author (SamProf)</a>
        <a href="http://blazor.net" target="_blank" class="ml-md-4">Blazor</a>
        <a href="https://blazorfiddle.com" target="_blank" class="ml-md-4">Blazor Fiddle</a>
        <a href="https://github.com/BlazorComponents/MatBlazor" target="_blank" class="ml-md-4">MatBlazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
