<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CompileBlazorInBlazor</a>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) @onclick=@ToggleNavMenu>
    @*<ul class="nav flex-column">
        <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                    <span class="oi oi-home" aria-hidden="true"></span> Compile C#
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="blazor">
                    <span class="oi oi-plus" aria-hidden="true"></span> Compile Blazor
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-globe" aria-hidden="true"></span> Scene
                </NavLink>
            </li>
        </ul>*@

    <div class="d-flex mt-5">
        @*<button class="btn btn-primary mx-auto" type="submit" @onclick=@launchCommandEditor>Button</button>*@
        <!-- Button trigger modal -->
        <button class="btn btn-primary mx-auto" @onclick="() => Modal.Open()">New Command</button>

    </div>


    <hr>

    <div>
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
        <span class="badge badge-danger">Danger</span>
        <span class="badge badge-warning">Warning</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-light">Light</span>
        <span class="badge badge-dark">Dark</span>
    </div>


    <CompileBlazorInBlazor.Component.CommandModal @ref="Modal"></CompileBlazorInBlazor.Component.CommandModal>

</div>




@functions {
    private CompileBlazorInBlazor.Component.CommandModal Modal { get; set; }

    bool collapseNavMenu = true;
    string curCommand = "";
    bool showCommandModal = false;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void launchCommandEditor()
    {
        //curCommand = "";
        showCommandModal = true;
    }
}
